.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999999;
  background-color: rgba(226, 226, 226, 0.4);
}

.spinner {
  position: relative;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}
